app.*/data/cache/*
app.*/data/html/*
app.*/data/logs/*
app.*/data/session/*
app.*/environment.txt
app.*/app/config2.php

source/vendor/*

!.gitkeep
.settings
.idea

example/extend/_test/coll
example/extend/_test/site
